html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.mainIcon {
    font-size: 25px;
  }

.codeSnipped {
    background: rgba(255,255,255,0.08);
    position: relative;
    padding: 8px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }